/*=(===============================================================)*/

/*=(===============================================================)*/
/*=(Created with RoboEditor.)=======================================*/
/*=(===============================================================)*/


/*begin-old-version{{*/

 /* $MVD$:fontset("Arial","Arial") */
 /* $MVD$:fontset("Courier New","Courier New") */
 BODY { font-family : "Arial";
        background-color : white;}
 .mvd-BODY { font-family : "Arial";
             background-color : white;}
 H1 { font-size : 24.0pt;}
 .mvd-H1 { font-size : 24.0pt;}
 H2 { font-weight : bold;
      font-size : 18.0pt;}
 .mvd-H2 { font-weight : bold;
           font-size : 18.0pt;}
 H3 { font-weight : bold;
      font-size : 14.0pt;}
 .mvd-H3 { font-weight : bold;
           font-size : 14.0pt;}
 H4 { font-weight : bold;
      font-size : 12.0pt;}
 .mvd-H4 { font-weight : bold;
           font-size : 12.0pt;}
 H5 { font-size : 12.0pt;}
 .mvd-H5 { font-size : 12.0pt;}
 H6 { font-size : 12.0pt;}
 .mvd-H6 { font-size : 12.0pt;}
 P { font-size : 10.0pt;}
 .mvd-P { font-size : 10.0pt;}
 CITE.expandspot { font-style : normal;
                   color : green;
                   cursor: hand;}
 .mvd-CITE-expandspot { font-style : normal;
                        color : green;
                        cursor: hand;}
 DFN.collapsed { font-style : italic;
                 font-weight : normal;
                 display :        'none';
                 color : red;}
 .mvd-DFN-collapsed { font-style : italic;
                      font-weight : normal;
                      display :        'none';
                      color : red;}
 DFN.expanded { font-style : italic;
                font-weight : normal;
                color : red;}
 .mvd-DFN-expanded { font-style : italic;
                     font-weight : normal;
                     color : red;}
 EM.dropspot { color : green;
               cursor: hand;}
 .mvd-EM-dropspot { color : green;
                    cursor: hand;}
 P.Code { font-family : "Courier New";
          font-size : 10.0pt;
          background-color : silver;}
 .mvd-P-Code { font-family : "Courier New";
               font-size : 10.0pt;
               background-color : silver;}
  CITE.glossterm { font-style : normal;
		color : maroon;
		cursor : hand;}
 .mvd-CITE-glossterm { font-style : normal;
		color : maroon;
		cursor : hand;}
 DFN.glosscollapsed { font-style : italic;
		font-weight : normal;
		display : 'none';
		color : blue;}
 .mvd-DFN-glosscollapsed { font-style : italic;
		font-weight : normal;
		display : 'none';
		color : blue;}
 DFN.glossexpanded { font-style : italic;
		font-weight : normal;
		color : blue;}
 .mvd-DFN-glossexpanded { font-style : italic;
		font-weight : normal;
		color : blue;}

/*}}end-old-version*/
BODY {
	font-family: Arial;
	background-color: #ffffff;
}

H1 {
	font-size: 24.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-H1 {
	font-size: 24.0pt;
}
/*}}end!kadov=======================================================*/ 



H2 {
	font-weight: bold;
	font-size: 18.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-H2 {
	font-weight: bold;
	font-size: 18.0pt;
}
/*}}end!kadov=======================================================*/ 



H3 {
	font-weight: bold;
	font-size: 14.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-H3 {
	font-weight: bold;
	font-size: 14.0pt;
}
/*}}end!kadov=======================================================*/ 



H4 {
	font-weight: bold;
	font-size: 12.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-H4 {
	font-weight: bold;
	font-size: 12.0pt;
}
/*}}end!kadov=======================================================*/ 



H5 {
	font-size: 12.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-H5 {
	font-size: 12.0pt;
}
/*}}end!kadov=======================================================*/ 



H6 {
	font-size: 12.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-H6 {
	font-size: 12.0pt;
}
/*}}end!kadov=======================================================*/ 



P {
	font-size: 10.0pt;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P {
	font-size: 10.0pt;
}
/*}}end!kadov=======================================================*/ 



P.Code {
	font-family: "Courier New";
	font-size: 10.0pt;
	background-color: #c0c0c0;
}

/*=(Generated Code)=================================================*/
/*=(WARNING: DO NOT EDIT OR DELETE THIS SECTION!)===================*/
/*begin!kadov{{=====================================================*/ 
LI.kadov-P-CCode {
	font-family: "Courier New";
	font-size: 10.0pt;
}
/*}}end!kadov=======================================================*/ 



A.expandspot {
	cursor: hand;
	color: #008000;
	font-style: normal;
}

SPAN.expandtext {
	color: #ff0000;
	font-weight: normal;
	font-style: italic;
}

A.dropspot {
	font-style: italic;
	cursor: hand;
	color: #008000;
}

A.glossterm {
	cursor: hand;
	color: #800000;
	font-style: normal;
}

SPAN.glosstext {
	color: #0000ff;
	font-weight: normal;
	font-style: italic;
}


/*=(===============================================================)*/
